
<ion-header>
  <ion-navbar color="secondary">
    <ion-title style="text-align: center">
      <strong *ngFor="let question of question()">{{question.title}}</strong>
    </ion-title>
  </ion-navbar>
  <!--A linha acima percorre o objeto de pergunta gerado pelo metodo question que e inicado pelo ionViewDidLoad-->
</ion-header>

<ion-content class="tutorial-page">

  <ion-slides paginationClickable=true
              initialSlide=0
              loop=false
              #slider>

    <ion-slide *ngFor="let slide of slides" >
      <ion-toolbar>
        <ion-buttons end>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image"  (click)="addSlides(slide)" class="slide-image"/>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img class="slide-image"/>
    </ion-slide>
  </ion-slides>
  <div class="swiper-button-next" (click)="slideNext()"></div>
  <div class="swiper-button-prev" (click)="slidePrev()"></div>
</ion-content>
